* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  height: 100vh;
}
.container {
  position: relative;
  border: 1px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  top: 150px;
}
.container div {
  transition-delay: 1s;
  transition-duration: 1s;
  transition-property: all;
}
h1 {
  top: 182px;
  left: 115px;
  position: absolute;
  font-size: x-large;
  color: blue;
}

.box1 {
  background-color: steelblue;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.container:hover .box1 {
  transform: translateX(-200px) rotate(90deg);
}

.box2 {
  background-color: yellow;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container:hover .box2 {
  transform: translateX(-200px) rotate(-90deg);
}

.box3 {
  background-color: dimgray;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  right: 0;
}
.container:hover .box3 {
  transform: translateX(200px) rotate(-90deg);
}

.box4 {
  background-color: rosybrown;
  width: 50%;
  height: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.container:hover .box4 {
  transform: translateX(200px) rotate(90deg);
}
